
<h2>Chat Session</h2>


<% if @user.id == current_user.id %>
  <h3>Check your Chat Message</h3>
<% else %>
  <h3>User info</h3>
  <p> <%= @user.firstname %> </p>
  <p> @<%= @user.username %> </p>

<% end %>

<%= link_to "Click here to start chatting", "" , class: 'btn btn-primary', id: 'startChat', remote: true %>

<br><br>
<div class="row">
 <div class="col-md-8">
   <div id="messages"></div>
   <input id="chat-input" class="form-control" type="text" placeholder="say anything" autofocus/>
 </div>
</div>

<br>
