<h2>User Profile</h2>

<%= render partial: '/shared/user_details', object: @user %>

<% if @user.id == current_user.id %>
  <h2>My Listings</h2>
<% else %>
  <h2><%= @user.firstname %>'s' Listings</h2>
<% end %>
  <div class="listings transitions-disabled">
    <% @user.listings.each do |listing| %>
      <%= render partial: '/shared/listing_thumbnails', locals: {listing: listing} %>
    <% end %>
  </div>
