<% @listings.each do |listing| %>

  <% listing.photos.each do |photo| %>
    <%= link_to (image_tag photo.url(:thumb)), listing_path(id: listing.id) %>
  <% end %>

  <p> <%= listing.id %>, <%= listing.name %>, <%= listing.price %> </p>
<% end %> <!-- end of cat.listings.each -->
