
  <% @categories.each do |cat| %>
    <% if cat.listings.present? %>

      <categories>
        <h3><%= link_to cat.name, category_path(cat.id) %></h3>
      </categories>

      <div class="listings transitions-disabled">

      <% cat.listings.order(created_at: :desc).limit(4).each do |listing| %>

        <%= render partial: '/shared/listing_thumbnails', locals: {listing: listing} %>

      <% end %> <!-- end of cat.listings.each -->
      </div>


    <% end %> <!-- end of if -->
  <% end %> <!-- end of categories.each -->
