<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="banner banner_image">
      <ul class="slides">
        <li>
          <%= link_to (image_tag "banner01.jpg"), subcategory_path(@gadgets) %>
        </li>

        <li>
          <%= image_tag "banner02.jpg" %>
        </li>

      </ul>
    </div>



  </div>
</div>

<br>

  <% @categories.each do |cat| %>
    <% if cat.listings.present? %>

      <categories>
        <h4><%= link_to cat.name, category_path(cat.id) %></h4>
      </categories>

      <div class="listings transitions-disabled">

      <% cat.listings.order(created_at: :desc).limit(4).each do |listing| %>

        <%= render partial: '/shared/listing_thumbnails', locals: {listing: listing} %>

      <% end %> <!-- end of cat.listings.each -->
      </div>


    <% end %> <!-- end of if -->

    <br>
  <% end %> <!-- end of categories.each -->
